html{
    margin: 1rem;
}

.icon{
    width: 2rem;
    background-color: white;
    border-radius: 0.5rem;
}

.container{
    margin: 1rem;
    padding: 3rem;
    background-color: rgb(216, 209, 209);
    width: 100%;
    height: 70%;
    border-radius: 0.5rem;
}

.custButton{
    margin:0.5rem;
}