
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <h2>Carga de productos</h2>
        <div class="container">
         <%- include('./partials/form') %>
        </div> 
    </body>
  </html>



