<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <h2>Lista de productos</h2>
        <div class="container">
        <%- include('./partials/table') %>
        </div> 
    </body>
  </html> 
 
 